*.vsidx
C# 7.0/.vs/C# 7.0/v17/.suo
*.pdb
C# 7.0/BoxUnBoxEx/bin/Debug/
C# 7.0/BoxUnBoxEx/obj/Debug/
C# 7.0/NullableTypeEx/bin/Debug/
C# 7.0/NullableTypeEx/obj/Debug/
C# 7.0/ValueRefTypeEx/bin/Debug/ValueRefTypeEx.exe.config
C# 7.0/ValueRefTypeEx/obj/Debug/
DataTypeEx/bin/Debug/
DataTypeEx/obj/Debug/
HelloPrj/bin/
HelloPrj/obj/
교안 및 소스/
HelloPrj/.vs/
C# 7.0/09_ConvertTypeEx2/bin/
C# 7.0/09_ConvertTypeEx2/obj/
C# 7.0/10_ConvertTypeEx3/bin/
C# 7.0/10_ConvertTypeEx3/obj/
C# 7.0/ConvertTypeEx/bin/
C# 7.0/ConvertTypeEx/obj/
C# 7.0/12_ConstantEx/bin/
C# 7.0/12_ConstantEx/obj/
C# 7.0/13_EnumTypeEx/bin/
C# 7.0/13_EnumTypeEx/obj/
C# 7.0/14_OperatorEx/obj/
C# 7.0/ConvertTypeEx4/bin/
C# 7.0/ConvertTypeEx4/obj/
C# 7.0/OperatorEx2/bin/
C# 7.0/OperatorEx2/obj/
C# 7.0/OperatorEx3/bin/
C# 7.0/OperatorEx3/obj/
C# 7.0/OperatorEx4/bin/
C# 7.0/OperatorEx4/obj/
C# 7.0/16_IfElseEx/bin/
C# 7.0/16_IfElseEx/obj/
C# 7.0/16_SwitchEx/obj/
C# 7.0/16_SwitchEx/bin/
